<div fxLayout="column" fxLayoutGap="10px">
    <mat-list-item>
        <div fxFlexFill style="background-color: #b6b6b6">
            <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" fxFlexFill>Clasificadores</button>
            <mat-menu #menu="matMenu" xPosition="before" fxFlexFill>
              <button mat-menu-item routerLink="/clasificadores/cuentas">
                <mat-icon>settings</mat-icon>
                <span>Cuentas</span>
              </button>
              <button mat-menu-item routerLink="clasificadores/tasas">
                <mat-icon>account_balance</mat-icon>
                <span>Depreciacion</span>
              </button>
              <button mat-menu-item routerLink="/clasificadores/entidad">
                <mat-icon>class</mat-icon>
                <span>Entidad</span>
              </button>                         
          </mat-menu>
        </div>     

    </mat-list-item>

</div>
