<div fxLayout="column">        
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div fxLayout="row" fxLayoutGap="5px">
        <div fxFlex="10">
            <mat-form-field class="full-width" >
                <input matInput placeholder="Codigo" formControlName="codigo"  type="number">              
            </mat-form-field>           
            
        </div>
        <div fxFlex="60">
            <mat-form-field class="full-width">
                <input matInput placeholder="Nombre" formControlName="nombre">
            </mat-form-field>  
        </div>
        <div fxFlex="30">
            <mat-form-field class="full-width">
                <mat-select formControlName="provincia_id" placeholder="Provincia">
                    <mat-option *ngFor="let item of provincia" [value]="item.id">{{item.descripcion}}</mat-option>                                
                </mat-select>
            </mat-form-field> 
        </div>
      </div>
      <br>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="50">
            <mat-form-field class="full-width">
                <input matInput placeholder="Dirección" formControlName="direccion">
            </mat-form-field>        
          
        </div>
        <div fxFlex="25">          
            <mat-form-field class="full-width">
                <input matInput placeholder="Corporación" formControlName="corporacion">
            </mat-form-field>          
        </div> 
        <div fxFlex="25">          
            <mat-form-field class="full-width">
                <input matInput placeholder="Compañía" formControlName="compania">
            </mat-form-field>          
        </div>        
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
          <div fxFlex="20">
            <button mat-raised-button type="submit" color="primary">Aceptar
              <mat-icon class="mat-18">done</mat-icon>
            </button>
          </div>
          <div fxFlex="20">
              <button mat-raised-button (click)="cancel()" color="warn">Cancelar
                  <mat-icon class="mat-18">cancel</mat-icon>
              </button>
          </div>
        </div>
    </form>
</div>
