<mat-card>
    <mat-card-header>
        <mat-card-title>Plan de cuentas</mat-card-title>
        <mat-card-subtitle>clasificador de cuentas nacional</mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="5px">
          <div>
              <app-plan-tree
              [mayorList] = "mayorList$ | async"
              [tipoList]  = "tipoList$ | async"
              [planList]  = "planList$ | async"
              (getTipo)   = "getTipo($event)"
              (getPlan)   = "getPlan($event)"
              ></app-plan-tree>
          </div>          
      </div>

      
        
    </mat-card-content>
    
</mat-card>
