<div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10ppx">
  <mat-card class="mat-card">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="Submayor">
            <th mat-header-cell *matHeaderCellDef> Submayor </th>
            <td mat-cell *matCellDef="let element"> {{element.submayor}} </td>
          </ng-container>
          <ng-container matColumnDef="Descripcion">
            <th mat-header-cell *matHeaderCellDef> Descripcion </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
          </ng-container>                      
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">                 
              <i class="material-icons hover-icon" (click)="update(element)">create</i> 
              <i class="material-icons hover-icon" (click)="remove(element)">delete_forever</i>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          >
          </tr>
      </table>
      <mat-paginator [length]="resultsLength" [pageSize]="2"></mat-paginator> 
  </mat-card>  
</div>