<div fxLayout="column">
  <form [formGroup]="form" (ngSubmit)="submit()">
      <div fxLayout="row" fxLayoutGap="5px">
          <div fxFlex="50%">
              <mat-form-field class="full-width" >
                  <input matInput placeholder="Cuenta" formControlName="cuenta">
              </mat-form-field>
          </div>
          <div fxFlex="50%">
              <mat-form-field class="full-width" >
                  <input matInput placeholder="Descripcion" formControlName="descripcion">
              </mat-form-field>
          </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
        <div fxFlex="50%">
            <mat-form-field class="full-width">
                <mat-select placeholder="Moneda" formControlName="moneda_id">
                    <mat-option *ngFor="let item of monedas" [value]="item.id">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>  
        </div>
        <div fxFlex="50%">
            <mat-form-field class="full-width">
                <mat-select placeholder="Tipo Cuenta" formControlName="tipo_cuenta_id">
                    <mat-option *ngFor="let item of tipocuenta" [value]="item.id">
                        {{item.descripcion}}
                    </mat-option>
                </mat-select>
        </mat-form-field>  
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="5px">
          <div fxFlex="50%">
              <mat-form-field class="full-width">
                  <mat-select placeholder="Centro Costo" formControlName="ccosto_id">
                      <mat-option value=null>[Centro Costo]</mat-option>
                      <mat-option *ngFor="let item of ccostos" [value]="item.id">
                          {{item.codigo}}
                      </mat-option>
                  </mat-select>
          </mat-form-field> 
          </div>
          <div fxFlex="50%">
            <mat-checkbox formControlName="predeterminada">Predeterminada</mat-checkbox>                        
          </div>
        </div>
        <div fxLayout="row" fxLayoutGap="5px">
            <div fxFlex="20%">
              <button mat-raised-button type="submit" color="primary">Aceptar
                <mat-icon class="mat-18">done</mat-icon>
              </button>
            </div>
            <div fxFlex="20%">
                <button mat-raised-button (click)="cancel()" color="warn">Cancelar
                    <mat-icon class="mat-18">cancel</mat-icon>
                </button>
            </div>
        </div>
  </form>
</div>
