<div fxLayout="column wrap">  
    <mat-card fxFlex="100">
        <mat-card-header>
            <mat-card-title>Imrpimer cuentas</mat-card-title>
            <mat-card-subtitle>Cuentas segun tipo</mat-card-subtitle>
        </mat-card-header>        
        <mat-card-content>
            <div fxLayout="column wrap">
              <div fxFlex="100">
                <mat-form-field fxFlex="100">
                  <mat-select placeholder="Tipo Cuenta" [(ngModel)] = "tipocuentaId">
                    <mat-option *ngFor="let tipo of (tipoCuenta$ | async)" [value]="tipo.id">
                      {{tipo.descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <br>
            <div fxLayout="column wrap" id="content" #content>
              <div fxFlex="100" >                                 
                <app-cuenta-print [cuentaPrint] = "cuentaPrint$ | async"></app-cuenta-print>          
              </div>
            </div>
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-raised-button color="accent" (click)="showCuentas()">Aceptar</button>
            <button mat-button (click)="cancel()">Cancelar</button>
        </mat-card-actions>
        <mat-card-footer>           
        </mat-card-footer>
    </mat-card>  
</div>