<mat-card *ngIf="entidad !=null ">
    <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="10%">
            <mat-form-field class="full-width" >
                <input matInput placeholder="Codigo" [(ngModel)]="entidad.codigo"  type="number" readonly>              
            </mat-form-field>            
        </div>
        <div fxFlex="60%">
            <mat-form-field class="full-width">
                <input matInput placeholder="Nombre" [(ngModel)]="entidad.nombre" readonly>
            </mat-form-field>  
        </div>
        <div fxFlex="30%">
            <mat-form-field class="full-width">
                <mat-select [(value)]="entidad.provincia_id" placeholder="Provincia" disabled>
                    <mat-option *ngFor="let item of provincia" [value]="item.id">{{item.descripcion}}</mat-option>                                
                </mat-select>
            </mat-form-field> 
        </div>
    </div>
      <br>
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="50">
            <mat-form-field class="full-width">
                <input matInput placeholder="Dirección" [(ngModel)]="entidad.direccion" readonly>
            </mat-form-field>        
          
        </div>
        <div fxFlex="25">          
            <mat-form-field class="full-width">
                <input matInput placeholder="Corporación" [(ngModel)]="entidad.corporacion" readonly>
            </mat-form-field>          
        </div> 
        <div fxFlex="25">          
            <mat-form-field class="full-width">
                <input matInput placeholder="Compañía" [(ngModel)]="entidad.compania" readonly>
            </mat-form-field>          
        </div>        
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
          <div fxFlex="20">
            <button mat-raised-button (click)="Edit()" color="warn">Editar
              <mat-icon class="mat-18">create</mat-icon>
            </button>
          </div>          
      </div>
</mat-card>
