<div fxLayout="row wrap" fxLayoutAlign="end end">    
    <mat-icon (click)="closeDialog()" class="hover-close">close</mat-icon>    
</div>

<div fxLayout="column wrap">    
    <form [formGroup]="form" (ngSubmit)="id== undefined ? save(): update($event)">
        <div fxLayout="row" fxLayoutGap="5px">      
            <div fxFlex="20">              
               
                <mat-form-field class="full-width" >
                    <input matInput placeholder="Codigo" formControlName="codigo"  >
                </mat-form-field>                                     
            </div>        
            <div fxFlex="30">                     
                <mat-form-field class="full-width">
                        <input matInput placeholder="Tasa" formControlName="tasa">
                    </mat-form-field>                         
            </div>
            <div fxFlex="50">                    
                <mat-form-field class="full-width">
                    <input matInput placeholder="Descripcion" formControlName="descripcion">
                </mat-form-field>                        
            </div>            
        </div> 
        <div fxLayout="row" fxLayoutGap="5px">
            <div fxFlex="20">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Moneda" formControlName = "moneda">
                        <mat-option *ngFor="let item of (monedas$ | async )" [value] ="item.id">
                            {{item.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>                
            </div>
            <div fxFlex="80">
                <mat-form-field class="full-width">
                        <mat-select placeholder="Cuenta Titulo" formControlName = "cuenta_titulo">
                            <mat-option *ngFor="let item of (cuentaTitulo$ | async)" [value]="item.id">
                                {{item.cuenta}} {{item.descripcion}}
                            </mat-option>
                        </mat-select>
                </mat-form-field>                        
            </div>                 
        </div>
        <div fxLayout="row">            
            <div fxFlex>
                <mat-form-field class="full-width">
                    <mat-select placeholder="Cuenta Depreciación" formControlName = "cuenta_depre">                        
                        <mat-option *ngFor="let item of (cuentaDepre$ | async)" [value]="item.id">
                            {{item.cuenta}} {{item.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>                               
            </div>                                
        </div>
        <div fxLayout="row">            
            <div fxFlex>
                <mat-form-field class="full-width">
                    <mat-select placeholder="Cuenta Sobrante" formControlName = "cuenta_sobrante">                        
                        <mat-option *ngFor="let item of (cuentaSobrante$ | async)" [value]="item.id">
                            {{item.cuenta}} {{item.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>                               
            </div>                                
        </div>
        <div fxLayout="row">            
            <div fxFlex>
                <mat-form-field class="full-width">
                    <mat-select placeholder="Cuenta Faltante" formControlName = "cuenta_faltante">                        
                        <mat-option *ngFor="let item of (cuentaFaltante$ | async)" [value]="item.id">
                            {{item.cuenta}} {{item.descripcion}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>                               
            </div>                                
        </div>
        <div fxLayout="row wrap">
        <div fxFlex="50" *ngIf="id == undefined">
            <button mat-raised-button color="primary" type="submit">Guardar</button>                    
        </div>   
        <div fxFlex="50" *ngIf="id != undefined">                    
            <button mat-raised-button color="warn" type="submit">Editar</button>
        </div>              
        </div>    
    </form>
</div>
