<div fxLayout="column">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div fxLayout="row" fxLayoutGap="5px">
        <div fxFlex="20">
            <mat-form-field class="full-width" >
                <input matInput placeholder="Codigo" formControlName="codigo"  >
            </mat-form-field> 
        </div>
        <div fxFlex="80">
            <mat-form-field class="full-width">
                <input matInput placeholder="Descripcion" formControlName="descripcion">
            </mat-form-field>  
        </div>
      </div>
      <br>
      <div fxLayout="row" fxLayoutGap="5px">
        <div fxFlex="50">
          <mat-form-field>
            <mat-select formControlName="cuenta_gasto_mn_id" placeholder="Gasto Depreciación MN">
                <mat-option *ngFor="let item of cuentaGastoDepreMN" [value]="item.id">{{item.cuenta}}</mat-option>
                  
            </mat-select>
          </mat-form-field>
          <mat-form-field>
              <mat-select formControlName="cuenta_gasto_div_id" placeholder="Gasto Depreciación DIV">
                  <mat-option *ngFor="let item of cuentaGastoDepreDIV" [value]="item.id">{{item.cuenta}}</mat-option>                  
              </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="50">          
            <mat-radio-group formControlName="tipo_control_inventario_id" class="radio-group">
                <mat-radio-button class="radio-button" [value]="1">Modular</mat-radio-button>
                <mat-radio-button class="radio-button" [value]="2">Indiv./Introducción Manual</mat-radio-button>
                <mat-radio-button class="radio-button" [value]="3">Indiv./Generación automática</mat-radio-button>
            </mat-radio-group>          
        </div>        
      </div>
      <div fxLayout="row" fxLayoutGap="5px">
          <div fxFlex="20">
            <button mat-raised-button type="submit" color="primary">Aceptar
              <mat-icon class="mat-18">done</mat-icon>
            </button>
          </div>
          <div fxFlex="20">
              <button mat-raised-button (click)="cancel()" color="warn">Cancelar
                  <mat-icon class="mat-18">cancel</mat-icon>
              </button>
          </div>
        </div>
    </form>
</div>
